@page "/fetchdata"
@using System.Net
@using System.Net.Http.Headers
@using System.Net.Mime
@using Microsoft.AspNetCore.Authorization
@inject IHttpClientFactory _factory;
@attribute [Authorize]

<PageTitle>Weather forecast</PageTitle>


<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p>Content: @Content</p>

@if (forecasts == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var forecast in forecasts)
        {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;

    private string Content;
    private List<string> errors = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");

        try
        {
            using (var client = _factory.CreateClient("Sanokkk"))
            {
                var response = await client.GetAsync("http://localhost:5243/WeatherForecast");

                forecasts = await response.Content.ReadFromJsonAsync<WeatherForecast[]>();
            }
        }
        catch (Exception ex)
        {
            
        }
        
    }

    public class WeatherForecast
    {
        public DateOnly Date { get; set; }

        public int TemperatureC { get; set; }

        public string? Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }

}