@page "/mypage"
@using global::UI.Service.Responses
@using global::UI.Service.Interfaces
@using Microsoft.AspNetCore.Authorization
@inject IAuthService _service;
@attribute [Authorize]
<h3>MyPage</h3>
@if (User is not null)
{
    <div class="panel-body">
        <div class="body-section">
            <h5 class="section-heading">Name:</h5>
            <p class="section-content">@User.UserName</p>
        </div>
        <div class="body-section">
            <h5 class="section-heading">Email:</h5>
            <p class="section-content">@User.Email</p>
        </div>
        <div class="body-section">
            <h5 class="section-heading">Balance:</h5>
            <p class="section-content">@User.Balance.ToString() rub.</p>
        </div>
    </div>


@*<p>@User.Id</p>
    <p>@User.UserName</p>
    <p>@User.Email</p>
    <p>@User.Balance</p>*@
}

<link href="css/MyPage.css" rel="stylesheet"/>

@code {
    public MyUser User;

    protected override async void OnInitialized()
    {
        var response = await _service.GetAsync();

        if (response.Success)
        {
            User = (response as GetResponse).Content;
        }
        StateHasChanged();
    }

}